<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name unclickable"><h1><%= link_to 'Blog', pots_path %></h1></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% if user_signed_in? %>
            <li class="name unclickable"><a>Logged in as <strong><%= current_user.name %></strong></a></li>
            <li>
              <% if user_signed_in? %>
                  <div class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></div>
              <% end %>
            </li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign up", new_user_registration_path  %></li>
            <li><%= link_to "Login", new_user_session_path  %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>