<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>All Posts</h1>

<%= link_to 'New Post', new_post_path, class: "button"%>
  <% @posts.each do |post| %>
      <table class="posts-table">
    <thead>
    <tr id="post-row-<%= post.id %>">
      <td class="post-title"><%= post.title %></td>
    </tr>
    </thead>
    <tbody>
    <tr class="bottom-border" >
      <td class="post-body">
        <p><%= post.created_at %></p>
        <%= post.body %>
      </td>
    </tr>
    <tr><td><%= link_to 'Edit', edit_post_path(post) %></td></tr>
    <tr><td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %></td></tr>
    </tbody>
  </table>
      <br/>
  <% end %>
</div>