<%= render 'menu' %>

<div class="container">
  <% if notice %>
      <br />
      <div data-alert class="alert-box info">
        <%= notice %>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>


  <h1>All Posts</h1>

  <% if user_signed_in? %>
    <%= link_to 'New Post', new_post_path, class: "button"%>
  <% end %>

  <% @posts.each do |post| %>
      <div class="posts">
    <div class="title" id="post-<%= post.id %>">
      <h2 class="post-title"><%= post.title %></h2>
    </div>
    <div class="content">
        <p> Created on <%= post.created_at.strftime("%A, %d.%m.%Y") %>
          | by <%= User.where(:id => post.user_id)[0].name %>
          <% if can? :manage, post %>
          | <%= link_to 'Edit', edit_post_path(post) %>
          | <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %>
          <% end %>
        </p>

        <%= post.body %>
    </div>
  </div>
      <br/>
  <% end %>
</div>